nav#topbar
  input#menu-visible(type="checkbox" name="menu-visible" value="")
  a.logo(href="#header")
    img.logo-img(src="./img/logo.svg" alt="PiGames logo")
    span.logo-text PiGames

  label.hamburger(for="menu-visible")
    div.hamburger-part
    div.hamburger-part
    div.hamburger-part

  ul.mobile-menu
    li.header PiGames
    li: a(href="#kim-jesteśmy") Kim jesteśmy
    li: a(href="#co-robimy") Co robimy
    li: a(href="#nasze-projekty") Nasze projekty
    li: a(href="#o-nas") O nas
    li: a(href="#współpraca") Współpraca
    li: a(href="#kontakt") Kontakt

  ul.desktop-menu
    li.header PiGames
    li: a(href="#kim-jesteśmy") Kim jesteśmy
    li: a(href="#co-robimy") Co robimy
    li: a(href="#nasze-projekty") Nasze projekty
    li: a(href="#o-nas") O nas
    li: a(href="#współpraca") Współpraca
    li: a(href="#kontakt") Kontakt

  label.mobile-background(for="menu-visible")
