section(id="współpraca")
  div
    h2 Współpraca
    p Jesteś zainteresowany jesteś którąś z naszych gier i chciałbyś z nami współpracować? Również pisz jesteśmy chętni do pracy, a więc jeśli chciałbyś ujrzeć którąś z naszych gier u siebie to serdeczenie zapraszamy.

    p A może jesteś grafikiem, lub tworzysz muzykę? A może kochasz pisać i chciałbyś pisać scenariusze? Albo jesteś programistą i kochasz gry? Pisz! Żadne ręce chętne do pracy się u nas nie zmarnują.
