section(id="współpraca")
  div
    h2 Współpraca
    p Jeśli jesteś zainteresowany / zainteresowana współpracą przy tworzeniu gier to zapraszamy do kontaktu. Nie ważne, że nie potrafisz programować jeśli spełniasz się w tworzeniu grafiki. Jeśli tworzysz muzykę również będziemy zadowoleni. Programistów oczywiście także poszukujemy :)
    p Co możesz zyskać dzięki współpracy z nami? Spełnienie marzeń i współudział w tworzeniu gier lub po prostu zyskanie świetnego portfolio do późniejszej pracy lub też możliwość pochwalenia się swoim talentem całemu światu. Jeśli więc dotyczy Cię któryś z wymienionych powodów pytaj śmiało o szczegóły&nbsp;;)
