section#zespol
  div
    h2 Zespół
    main.slider.on-beggining
      nav
        span.slider-prev
          i.material-icons chevron_left
        span.slider-next
          i.material-icons chevron_right

      div.slides
        div.slide.active
          include aboutus/kacpietrzak.pug

        div.slide
          include aboutus/bibixx.pug

        div.slide
          include aboutus/enna.pug

        div.slide
          include aboutus/condzi.pug  

        div.slide
          include aboutus/mvxx.pug  

        div.slide
          include aboutus/zmienny.pug  

        div.slide
          include aboutus/nowa.pug  
