section#co-robimy
  div
    header
      h2 Co robimy?
    p
      | Obecnie zajmujemy się „Project Nostradamus” (
      a(target="_blank" href="https://github.com/PiGames/Project-Nostradamus") Project Nostradamus na GitHub
      | ), „Platform Game” (
      a(target="_blank" href="https://github.com/PiGames/PlatformGame") Platform Game na GitHub
      | ) i „Segregate it” (
      a(target="_blank" href="https://github.com/PiGames/Segregate-It") Segregate it na GitHub
      | ). Nasze gry tworzymy głównie w C++ i SFML (Plarform Game), JavaScript i Phaser (Project Nostradamus) oraz w Unity.
    p
      | Prowadzimy także kanał na 
      a(target="_blank" href="https://www.youtube.com/channel/UCbm5muM7pUXwJ0PlZObbmZg") YouTubie
      |  – umieszczamy tam poradniki i dzienniki deweloperskie.
