section(id="kim-jesteśmy")
  div
    h2 Kim jesteśmy?
    p Jesteśmy grupą samouków tworzącą studio devolperskie PiGames. Połączyła nas pasja do programowania. Mimo że naszym głównym celem było doskonalenie naszych umiejętności poprzez tworzenie gier komputerowych zdecydowaliśmy że podejdziemy do tego na poważnie. Hobby&nbsp;+&nbsp;Pasja&nbsp;+&nbsp;Umiejętności =&nbsp;Studio&nbsp;Devolperskie.
