body, html{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  max-width: 1920px;
}

nav{
  z-index: 1;
  background-color: #5A5A5A;
  color: #ffffff;
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav img.logo-img{
  height: 64px;
  margin-left: 212px;
}

nav span.logo-text{
  font-size: 32px;
  font-weight: SemiBold;
  line-height: 72px;
}

nav ul{
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 24px;
  position: relative;
  left: 100px;
}

nav ul li{
  display: inline-block;

}

nav ul li a{
  color: #ffffff;
  text-decoration: none;
  padding-right: 2px;
  line-height: 72px;
}

header.header-name-studio{
  position: relative;
  top: 72px;
  background-color: #4E218B;
  color: #ffffff;
  height: 600px;
}

header.header-name-studio h1{
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 69px;
  font-size: 128px;
  margin: 0;
}

main section header{
  font-size: 48px;
  text-align: center;
  height: 64px;
  margin-bottom: 25px;
}

main section{
  padding-top: 45px;
}

main section p{
  font-size: 20px;
  width: 934px;
  margin:auto;
  margin-bottom: 15px;
}

section.section-contact{
  width: 935px;
  margin: auto;
}

section.section-contact header{
  margin-bottom: 64px;
}

form label{
  display: block;
  margin-bottom: 2px;
}

form input{
  display: block;
  margin-bottom: 5px;
}

form textarea{
  display: block;
}

footer{
  height: 45px;
  width: 100%;
  border-top: 1px solid #95989A;
  margin-top: 45px;
}

footer p{
  width: 935px;
  margin: auto;
  line-height: 45px;
}

footer .authors{
  color: #2B95FF;
}
