$background-color: #fafafa;
$text-color: #111;

$nav-background: #5a5a5a;
$nav-text-color: #fff;

$header-background: #4e218b;
$header-text-color: #fff;

$menu-color: #474747;
$hamburger-color: #fff;

$footer-border: 1px solid #95989a;

$link-color: #2b95ff;

// Breakpoints
$mobile: 768px;
$tablet: 996px;
$desktop-sm: 1200px;
$desktop-xl: 1360px;
