header
  img(src="./img/bomberman.jpg")
h3 Bomberman
p Klon kultowej gry Bomberman - pierwsza gra studia PiGames.

p Obowiązuje w niej tylko jedna prosta i jasna zasada: wybuchnij drugiego gracza na śmierć!

p Aby to osiągnąć możesz niszczyć elementy otoczenia jak i kopać bomby.

p: strong
  | Boomberman na 
  a(href="https://pigames-studio.itch.io/bomberman", target="_blank") itch.io
