header
  img(src="./img/ftb.png")
h3 Feed The Bob
p Nasza pierwsza skończona gra HTML5, której prototyp powstał na hackatonie w 8 godzin. Prosta, choć wciągająca od samego początku miała uczyć o zbilansowanej diecie.
p Celem rozgrywki jest utrzymanie wskaźników Boba w zielonej strefie jak najdłużej poprzez karmienie go zróżnicowanymi produktami.
p: strong
  | Zagraj w 
  a(href="http://pigam.es/Feed-The-Bob", target="_blank") Feed The Bob
