header
  img(src="./img/land-it.png" alt="")
h3 Land-It!
p Nasz pierwszy skok w stronę aplikacji na androida. Projekt Land-It! - klasyczna, lecz odświeżona i zrobiona po naszemu gra, w której celem jest dostanie się rakietą do określonego punktu, przedzierając się przez masę przeszkód... ale i bonusów!

p: strong
  | Land-It! na 
  a(href="https://warsztat.gd/projects/land_it", target="_blank") warsztat.gd
