header
  img(src="./img/pn.png")

h3 Project Nostradamus
p Survival horror osadzony w realiach science fiction. Gracz wciela się w postać naukowca wysłanego na stacje z którą stracono łączność, by odzyskać wyniki badań które były na niej przeprowadzane. Gra oferuje rozgrywkę nastawioną na skradanie i eksploracje stacji.

p: strong
  | Project Nostradamus na 
  a(href="https://github.com/PiGames/Project-Nostradamus", target="_blank") GitHub
