header
  img(src="./img/bomberman.jpg")
h3 Bomberman
p Clone of iconic game Bomberman – first PiGames' game.

p It follows only one and simple rule: blow another player to death!

p To achive it you can destroy elements of environments as well as kick bombs.

p: strong
  | Boomberman on 
  a(href="https://pigames-studio.itch.io/bomberman", target="_blank") itch.io (description in polish)
