header
  img(src="./img/ftb.png")
h3 Feed The Bob
p Our first finished HTML5 game of which prototype was created in 8 hours on hackaton. Simple but addictive form the beggining was supposed to teach about balanced diet.

p The objective of the game is to keep Bob's indicators in green area as long as you can by feeding him with diversed products.

p: strong
  | Play 
  a(href="http://pigam.es/Feed-The-Bob", target="_blank") Feed The Bob
