header
  img(src="./img/land-it.png" alt="")
h3 Land-It!

p Our first attepmt in creating Android app. Land-It! project – classical but refereshed and made in our way game which goal is to get the rocket to specified target ommiting lots of obstacles... but also bonuses.

p: strong
  | Land-It! on 
  a(href="https://play.google.com/store/apps/details?id=com.PiGames.LunarLander", target="_blank") Google Play
