header
  img(src="./img/pn.png")

h3 Project Nostradamus
p Survival horror placed in science-fiction realities. The player enters the form of a scientist sent to a station with which communication was lost, to recover results of the research that was conducted there. Game offeres gameplay focused on sneaking and station exploring.

p: strong
  | Project Nostradamus on 
  a(href="https://github.com/PiGames/Project-Nostradamus", target="_blank") GitHub
