section#o-nas
  div
    h2 O nas
    p Powstaliśmy w 2016 roku, gdy połączyła nas pasja do programowania. Chcieliśmy zacząć wspólny projekt jako drużyna w celu nauki.

    p Gdy udało się złożyć zespół zaczęliśmy tworzyć naszą pierwszą grę – Bombermana. Na początku wakacji 2016 mieliśmy już skończoną grę, a na swoich barkach wiele nowych doświadczeń po pracy w zespole.

    p Po eksperymentach związanych z nauką przeróżnych technologii, w grudniu 2016 roku rozpoczęliśmy pracę nad Project Nostradamus - grą HTML5. Podczas gdy pracę nad tym tytułem cały czas trwają, udało nam się w miesiąc zrobić inną grę HTML5 - Feed The Bob, której prototyp powstał na hackathonie.

    p W tym samym czasie druga część w lutym zaczęliśmy również pisać kolejną grę – Land-It! – pisaną w Unity z myślą o urządzeniach mobilnych.
