section#kontakt.contact-form
  div
    h2 Kontakt
    form
      div.main-form
        label(for="name") Twoje imię i nazwisko
        input#name(name="name" type="text" placeholder="Imię i nazwisko")
        label(for="email") Twój email
        input#email(name="email" type="text" placeholder="Email")
        label(for="subject") Temat wiadomości
        input#subject(name="subject" type="text" placeholder="Temat")
        label(for="message") Twoja wiadomość
        textarea#message(name="message" placeholder="Wiadomość" rows="5")
        div.g-badge
          div.g-info
            p
              | korzysta z zabezpieczenia 
              strong reCAPTCHA
            p
              a(href="https://www.google.com/intl/pl/policies/privacy/" target="_blank") Prywatność
              span(aria-hidden="true" role="presentation")  - 
              a(href="https://www.google.com/intl/pl/policies/terms/" target="_blank") Warunki
          div.g-image
            img(src="https://www.gstatic.com/recaptcha/api2/logo_48.png")
        div.g-recaptcha(data-sitekey="6LdNQBsUAAAAACcG5iiKov4OUNG1ENgcpmzcSA38" data-callback="send" data-size="invisible")
        button(type="submit" name="button") Wyślij
      div.form-success
        h3 Twoja wiadomość została pomyślnie wysłana!
