head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title PiGames
  base(href="/")
  link(href="https://fonts.googleapis.com/css?family=Material+Icons|Nunito:400,600,700" rel="stylesheet")
  meta(name="description" content="PiGames powstało w styczniu 2016 roku jako inicjatywa zrzeszająca początkujacych programistów w celu wspólnej nauki przy tworzeniu projektu. Gdy wyklarował się zgrany zespół, przystąpiliśmy do tworzenia naszej pierwszej gry - Bombermana. Na początku wakacji mogliśmy już pochwalić się skończoną grą oraz bagażem doświadczeń wyciągniętym z pracy zespołowej.")

  link(rel="stylesheet" href="./css/style.css")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
