section.more#wiecej
  div
    h2 Więcej?
    p Chcesz dowiedzieć się o nas więcej i śledzić nasze aktualne projekty? Znajdź nas na innych stronach!
    .links
      p: strong: a(href="http://facebook.com/pigamespl") Facebook
      p: strong: a(href="http://bit.ly/PiGamesYT") YouTube
      p: strong: a(href="http://blog.pigam.es") Blog
      
