section#about-us
  div
    h2 About us
    p We teamed up in 2016, when our passion to programming connected us. We wanted to start a new project as a team to learn something.
    
    p When we suceeded in creating team we started our first project – Bomberman. At the begginig of 2016 holidays we had our game finished and lots of new experience gained after working together.
    
    p After experimenting with multiple technologies in December 2016 we started working on Project Nostradamus – HTML5 game. During the development of it, we have created another HTML5 game – Feed The Bob, which prototype was created during hackaton. We managed to finish Feed The Bob in a month
    
    p In the same time in February we started writing next game – Land-It! - using Unity, targeting mobile devices.
