section#about-us
  div
    h2 About us
    p We have been created in 2016 when our passion to programming joined us. We wanted to start a new project as a team to learn something.
    
    p When we suceeded in creating team we started our first team – Bomberman. At the begginig of 2016 holidays we had our game finished and lots of new experience on our shoulders after working together.
    
    p After experimenting on multiple technologies in December 2016 we started working on Project Nostradamus – HTML5 game. During the development of it, in a month, we have created another HTML5 game – Feed The Bob, which prototype was created during hackaton.
    
    p In the same time in February we started writing next game – Land-It! - wirtten in Unity with mobile devices in mind.
