section(id="cooperation")
  div
    h2 Cooperation
    
    p Are you interested in one of our games and would like to cooperate with us? Write to us! We are willing to work, so if you would like to see one of our games on your page we are pleased to help you with that.
    
    p Or maybe you are designer or you are creating music? Or you love writting and would like to make some scripts? Write as well! No hands willing to work will be wasted here. 
