footer
  p © Copyright 2017 PiGames. All right reserved.

script(src="http://code.jquery.com/jquery-3.1.1.min.js")
script(src='https://www.google.com/recaptcha/api.js')
script(src="./js/script.js" charset="utf-8")
