head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title PiGames
  link(href="https://fonts.googleapis.com/css?family=Material+Icons|Nunito:400,600,700" rel="stylesheet")
  meta(name="description" content="Jesteśmy grupą samouków tworzącą studio devolperskie PiGames. Połączyła nas pasja do programowania. Mimo że naszym głównym celem było doskonalenie naszych umiejętności poprzez tworzenie gier komputerowych zdecydowaliśmy że podejdziemy do tego na poważnie. Hobby + Pasja + Umiejętności = Studio Devolperskie.")

  link(rel="stylesheet" href="./css/style.css")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
