head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title PiGames
  link(href="https://fonts.googleapis.com/css?family=Material+Icons|Nunito:400,600,700" rel="stylesheet")
  meta(name="description" content="We teamed up in 2016, when our passion to programming connected us. We wanted to start a new project as a team to learn something. When we suceeded in creating team we started our first project – Bomberman. At the begginig of 2016 holidays we had our game finished and lots of new experience gained after working together.")

  link(rel="stylesheet" href="./css/style.css")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
