section.more#more
  div
    h2 More?
    p What to get to know more about us and follow our current projects? Check us out on other pages!
    .links
      p: strong: a(href="https://facebook.com/pigamespl") Facebook
      p: strong: a(href="https://bit.ly/PiGamesYT") YouTube
      p: strong: a(href="https://pigames.github.io/blog") Blog

