section.team#team
  div
    h2 Team
    main.slider.on-beggining
      nav
        span.slider-prev
          i.material-icons chevron_left
        span.slider-next
          i.material-icons chevron_right

      div.slides
        div.slide.active
          include team/kacpietrzak.pug

        div.slide
          include team/bibixx.pug

        div.slide
          include team/enna.pug

        div.slide
          include team/condzi.pug  

        div.slide
          include team/mvxx.pug  

        div.slide
          include team/zmienny.pug  

        div.slide
          include team/nowa.pug  
