section#what-are-we-doing
  div
    header
      h2 What are we doing?

    p
      | Currently we are working on
      | Project Nostradamus (
      a(target="_blank" href="https://github.com/PiGames/Project-Nostradamus") Project Nostradamus on GitHub
      | ) and Lunar Lander
      | as well as on participating in hackatons and beeing speakers on various meetups.

    p
      | Apart from this we have
      a(target="_blank" href="https://www.youtube.com/channel/UCbm5muM7pUXwJ0PlZObbmZg") YouTube
      |  channel and
      a(target="_blank" href="https://pigames.github.io/blog") blog
      |  where we publish tutorials and devlogs.
