div.person-image(style="background-image: url(./img/bartek.png)")
h3 Bartek „bibixx” Legięć
p Frontend developer, ale też czasem coś w backendzie skrobnie. Poza programowaniem uczy się też robić design i okazjonalnie grafikę. W wolnym czasie pasjonat fotografii i filmografii.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="http://legiec.io" target="_blank") http://legiec.io
