div.person-image(style="background-image: url(./img/bartek.png)")
h3 Bartek „bibixx” Legięć
p Front-end developer to be. Robi cuda w CSSach, lecz w JavaScript też nie jedno wyklepał. Gdy zajdzie potrzeba to i w PHP coś napisze. Poza programowaniem bawi się w web design, fotografię i filmografię. Lubi włoską kuchnię i własne wypieki.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="http://legiec.eu" target="_blank") http://legiec.eu
