div.person-image(style="background-image: url(./img/bartek.jpg)")
h3 Bartek Legięć
p Frontend developer, ale też czasem coś w backendzie skrobnie. Poza programowaniem uczy się też robić design i okazjonalnie grafikę. W wolnym czasie pasjonat fotografii i filmografii.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="https://legiec.io" target="_blank") https://legiec.io
