div.person-image(style="background-image: url(./img/condzi.jpg)")
h3 Konrad „condzi” Kubacki
p Dopiero ukończył gimnazjum. W przyszłości zamierza zostać programistą gier komputerowych i zrewolucjonizować rynek nowatorskimi rozwiązaniami.
p Lubi jeść naleśniki, słuchać Rocka i Linkin Park.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="https://github.com/condzi/" target="_blank") https://github.com/condzi/
