div.person-image(style="background-image: url(./img/enna.jpg)")
h3 Magda „Enna” Nowak
p Zakręcona istota zakochana w malarstwie cyfrowym.
p Obecnie przesiaduje wśród programistów. Nie została jednak porwana. Sama, z własnej nieprzymuszonej woli zaczęła współpracować w zakresie tworzenia grafiki.
p Poza okupowaniem komputera czas wolny lubi spędzać przy dobrej książce lub grając w karty ze znajomymi.
p
  | Jej kawałek Internetów przeznaczony na portfolio
  br
  a(href="https://www.facebook.com/enna.art/" target="_blank") https://www.facebook.com/enna.art/
