div.person-image(style="background-image: url(./img/kacper.png)")
h3 Kacper Pietrzak
p Jest programistą JavaScript ale nie jedno w swoim życiu w C++ napisał. Próbuje swoich sił w robieniu youtube-ów na kanale PiGames. Lubi pracować z kreatywnymi ludźmi z pasją. Oprócz programowania pasjonuje się bieganiem oraz fizyką. Nienawidzi nudy, a w życiu kieruje się ideą „Work smart not hard”.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="https://github.com/pietrzakacper" target="_blank") https://github.com/pietrzakacper
