div.person-image(style="background-image: url(./img/mvxx.png)")
h3 Michał „mvxxx”
p Pasjonat sztucznej inteligencji. Koduje głównie w C++ i C#. W przyszłości zamierza podjąć pracę jako programista naukowy, by mieć szansę przyczynić się do rozwoju owej dziedziny.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="https://github.com/mvxxx" target="_blank") https://github.com/mvxxx
