div.person-image(style="background-image: url(./img/mvxx.png)")
h3 Michał „mvxxx” Tyrolski
p Nade wszystko entuzjasta C++ i sztucznej inteligencji oraz możliwości jej rozwoju w kontekście budowania futurystycznej wizji świata. Poza tym czerpię przyjemność ze zmagania się z algorytmicznymi zadaniami i projektowania własnych frameworków.
p Oprócz C++ piszę również w Pythonie, czasami także w C#, C i OCaml.
p
  | Moje projekty można zobaczyć tutaj
  br
  a(href="https://github.com/mvxxx" target="_blank") https://github.com/mvxxx
