div.person-image(style="background-image: url(./img/place_female.jpg)")
h3 Marta „nowa” Chrostowska
p Po zgubieniu się w wielkim świecie programistów mała dziewczynka weszła na prostą drogę dzięki tworzeniom stron. Obecnie można nawet u niej zamówić stronę (to akurat tekst dla przyszłych klientów xD)
p A tak po za rzeczami związanymi z programowniem to chodzi w kółko burcząc pod nosem co brzmi jak domaganie się powrotu piłkarzy charakterem, sercem i umiejętnościami tych z lat 90.
