div.person-image(style="background-image: url(./img/zmienny.jpg)")
h3 Kamil „zmienny” Roszak
p Uważa, że talent to słowo przereklamowane. Wystarczy wytrwała praca i można osiągnąć bardzo dużo. Ciekawy różnych technologi tworzący projekty między innymi w: C++ i sfml, C# i Unity, JS i trochę PHP.
p
  | Jego projekty można zobaczyć tutaj
  br
  a(href="https://github.com/zmienny" target="_blank") https://github.com/zmienny
