body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: "Nunito", sans-serif;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
