body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: 'Nunito', sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
