section.section-contact header {
  margin-bottom: 64px;
}

form label {
  display: block;
  margin-bottom: 2px;
}

form input {
  display: block;
  margin-bottom: 5px;
}

form textarea {
  display: block;
}
