section.section-contact header {
  margin-bottom: 64px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  display: block;
  margin-bottom: 10px;
  width: 300px;
  height: 39px;
}

form input#submit {
  width: 98px;
  height: 44px;
  margin-top: 10px;
}

form label textarea {
  display: block;
  width: 935px;
  height: 207px;
}
