header.header-name-studio {
  position: relative;
  height: 40vh;
  margin-top: 56px;
  background-color: $header-background;
  color: $header-text-color;

  @media (min-width: 996px) {
    height: 55vh;
    margin-top: 72px;
  }
}

header.header-name-studio h1 {
  display: inline-block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  font-size: 64px;

  @media (min-width: 768px) {
    font-size: 104px;
  }
}
