main section {
  margin: 16px 0;
  text-align: center;

  @media (min-width: 768px) {
    margin: 32px 0;
  }
}

main section p {
  margin: 8px auto;
}

main h2 {
  display: inline-block;
  margin: 16px auto;
  font-size: 32px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 48px;

    &::after {
      height: 4px;
    }
  }

  &::after {
    display: block;
    width: 100%;
    height: 3px;
    margin-left: -4px;
    padding: 0 4px;
    border-radius: 2px;
    background: $text-color;
    content: "";
  }
}

main h3 {
  margin: 8px 0;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}
