main section #slider-about-project header {
  width: 100%;

  @media (min-width: 768px) {
    width: 66%;
    margin: 0 auto;
  }
}

main section .img-slider-about-project {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 56%;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

main section .slider-about-us{
  width: 960px;
  height: 500px;
  position: relative;

}

main section .slider-about-us-position {
  position: absolute;
  width: 1170px;
  height: 500px;
  background-color: #ffffff;
}

main section .img-slider-about-us {
  display: block;
  width: 276px;
  height: 276px;
  margin: auto;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

#next{
  font-size: 30px;
  font-weight: bold;
  color: #808080;
  position: absolute;
  top: 100px;
  right: 300px;
  z-index: 40;
}

#prev{
  font-size: 30px;
  font-weight: bold;
  color: #808080;
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 41;
}
