main section .slider-about-project {
}

main section img.img-slider-about-project {
  display: block;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 50%;
    margin: 0 auto;
  }
}

main section .img-slider-about-us {
  display: block;
  width: 276px;
  height: 276px;
  margin: auto;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

main section figcaption {
  margin: 8px auto;
  padding-top: 15px;
  font-size: 20px;
}
