div.person-image(style="background-image: url(./img/bartek.png)")
h3 Bartek „bibixx” Legięć
p Front-end developer to be. Does wonders in CSS, but also loves to write in JavaScript. When situation needs it can handle also PHP. Except programming he loves to design, take photos as well as record some videos. Italian cuisine lover.

p
  | You can see his projects here
  br
  a(href="http://legiec.eu" target="_blank") http://legiec.eu
