div.person-image(style="background-image: url(./img/condzi.jpg)")
h3 Konrad „condzi” Kubacki
p Have just finished middle school. In the future plans to be a game programmer and revolutionise market with innovative solutions.
p Like eating pancakes and listening to Rock, Linkin Park in particular.

p
  | You can see his projects here
  br
  a(href="http://github.com/condzi/" target="_blank") http://github.com/condzi/
