div.person-image(style="background-image: url(./img/enna.jpg)")
h3 Magda „Enna” Nowak
p Scatterbrained preson in love with graphical art.
p Currently hangs out with programmers. Haven't been abducted though. By hereself, no one made here to do so, shr started cooperating as an artist.
p Besides sitting in front of computer free time likes spending with good book or playnig cards with friends.
p
  | Her part of internet designed for protfolio
  br
  a(href="https://www.facebook.com/enna.art/" target="_blank") https://www.facebook.com/enna.art/
