div.person-image(style="background-image: url(./img/kacper.png)")
h3 Kacper Pietrzak
p He’s a JavaScript programmer but has written a thing or two in C++. He’s trying to do some YouTube on PiGames’ channel. Likes working with creative people with passion. Except programming he is passionate about running and physics. Hates boredom and in life is guided by the ”Work smart not hard” idea.
p
  | You can see his projects here
  br
  a(href="https://github.com/pietrzakacper" target="_blank") https://github.com/pietrzakacper
