div.person-image(style="background-image: url(./img/mvxx.png)")
h3 Michał „mvxxx”
p Artificial inteligence lover. Codes fluently in C++, C# and R. In the future he wants to be a science programmer to make his part in developement of it.

p
  | You can see his projects here
  br
  a(href="https://github.com/mvxxx" target="_blank") https://github.com/mvxxx
