div.person-image(style="background-image: url(./img/mvxx.png)")
h3 Michał „mvxxx” Tyrolski
p Above all, a enthusiast of C++ and artificial intelligence and the possibility of its development in the context of building a futuristic vision of the world. In addition, I take pleasure in dealing with algorithmic tasks and designing my own frameworks.
p In addition to C++, I also write in Python, sometimes in C#, C and OCaml.
p
  | You can see my projects here
  br
  a(href="https://github.com/mvxxx" target="_blank") https://github.com/mvxxx
