div.person-image(style="background-image: url(./img/place_female.jpg)")
h3 Marta „nowa” Chrostowska
p After getting lost in a big world of programmers small girl went on a straight road thanks to creating websites. Currently you can even order a website from her.

p Besides things connected with programming, she goes around and growls under her breath that sounds like demanding the return of football players with character, heart and skills of these from 90s.
