div.person-image(style="background-image: url(./img/zmienny.jpg)")
h3 Kamil „zmienny” Roszak
p He thinks that talent is an overrated word. With hard work you can achieve a lot. Curious about multiple technologies. Makes projects in i.a. C++ (sfml), C# (Unity), JS and a bit of PHP.

p
  | You can see his projects here
  br
  a(href="https://github.com/zmienny" target="_blank") https://github.com/zmienny
