extends ../layouts/layout.pug

block nav
  include ../includes/en/nav.pug

block content
  include ../includes/en/about-us.pug

  include ../includes/en/what-are-we-doing.pug

  include ../includes/en/our-projects.pug
  
  include ../includes/en/team.pug

  include ../includes/en/more.pug

  include ../includes/en/cooperation.pug
  
  include ../includes/en/contact.pug

block footer
  include ../includes/en/footer.pug
