doctype html
html
  include includes/head.pug

  body
    include includes/nav.pug

    include includes/header.pug

    main
      include includes/who-are-we.pug

      include includes/what-are-we-doing.pug

      include includes/our-projects.pug
      
      include includes/aboutus.pug

      include includes/partnership.pug
      
      include includes/contact.pug

    include includes/footer.pug
