extends layouts/layout.pug

block content
  include includes/pl/about-us.pug

  include includes/pl/what-are-we-doing.pug

  include includes/pl/our-projects.pug
  
  include includes/pl/team.pug

  include includes/pl/more.pug

  include includes/pl/cooperation.pug
  
  include includes/pl/contact.pug
