doctype html
html
  include ../includes/pl/head.pug

  body
    block nav
      include ../includes/pl/nav.pug

    include ../includes/pl/header.pug

    main
      block content

    block footer
      include ../includes/pl/footer.pug
