header
  img(src="./img/boomberman.jpg")
h3 Boomberman
p Bomberman – gra zręcznościowa wyprodukowana i wydana przez japońską firmę Hudson Soft w roku 1983. Gra jest wciąż poprawiana i wydawana na różne platformy.
p Celem gry jednoosobowej jest zniszczenie przeciwników za pomocą bomb oraz odnalezienie drzwi do następnego poziomu.
p Zródło: wikipedia.
p A tak po za tym ta gra jest kultowa i stworzona przez nas!
