header
  img(src="./img/boomberman.jpg")
h3 Boomberman
p klon kultowej gry Bomberman - pierwsza gra studia PiGames.

p Obowiązuje w niej tylko jedna prosta i jasna zasada: wybuchnij drugiego gracza na śmierć!

p Aby to osiągnąć możesz niszczyć elementy otoczenia jak i kopać bomby.

p: strong
  | Boomberman na 
  a(href="https://github.com/PiGames/Bomberman", target="_blank") GitHub
